
<app-recherchelistepotagers></app-recherchelistepotagers>

<app-navbar-perso></app-navbar-perso>
 
<div class="text-center">
    <ul id="menu" class="nav nav-tabs flex-fill justify-content-center bg-primary">
      <li class="nav-item">
        <a class="nav-link" routerLink = "kebab" routerLinkActive="active" >Binding</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "tacos" routerLinkActive="active">Template Att</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink = "burger" routerLinkActive="active" >Directive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "saucisse" routerLinkActive="active" >Pipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "sushi" routerLinkActive="active" >Listes Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "banane" routerLinkActive="active">Add User</a>
      </li>
    </ul>
  </div>

<router-outlet></router-outlet>