<div>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #6edfc3;">
        <button type="button" class="navbar-brand btn-primary-outline">
            <a class="navbar-brand" href="#">PotaPotes</a>
        </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><strong>Espace perso</strong> </a>
                </li>
                &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <strong>Jardins rejoints</strong>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <strong>Jardins créés</strong>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

            </ul>
            
                <ul class="navbar-nav">
                    <li>
                        <form class="form-inline">
                            <input class="form-control " type="search" placeholder="Recherche" aria-label="Search">
                            <button class="btn" style="color: brown;" type="submit">Rechercher</button>
                        </form>
                    </li>
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                    <div style="position: relative;">
                    <li>
                        <a href="">
                            <mat-icon>mail</mat-icon>
                        </a>
                        &nbsp; &nbsp; &nbsp;
                        
                        <button class="btn btn-default dropdown-toggle" type="button" id="menuProfil"
                            data-toggle="dropdown">
                            <a href="">
                                <mat-icon>face</mat-icon>
                            </a>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menuProfil">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Modifier son profil</a>
                            </li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mes messages</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Se déconnecter</a></li>
                            <li role="presentation" class="divider"></li>

                        </ul>
                    
                        &nbsp; &nbsp; &nbsp;
                    </li>
                </div>
                </ul>            
        </div>
    </nav>
</div>


