<div>

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #42c253;">
            <button type="button" class="navbar-brand btn-primary-outline">
                <a class="navbar-brand" routerLink="/accueil" href="#" style="color: #fff;">Mon Petit Potager de {{prenomUserConnecte}}</a>
            </button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <span class="espace"></span> 

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link btn" routerLink="/espaceperso" style="color: #fff;"><strong>Espace perso</strong> </a>
                        </li>
                        
                        <span class="espace"></span>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/app-creerjardin" style="color: #fff;"><strong>Créer un jardin</strong> </a>
                    </li>

                        <span class="espace"></span>

                        <li class="nav-item dropdown">
                            <a class="nav-link btn dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #fff;">
                                <strong>Jardins rejoints</strong>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>

                        <span class="espace"></span>

                        <li class="nav-item dropdown">
                            <a class="nav-link btn dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #fff;">
                                <strong>Jardins créés</strong>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>

                    <span class="espace"></span>

                    <li class="nav-item">
    
                   
                        <ul class="navbar-nav">
                            <li>
                                <div style="margin: auto">
                                    <mat-form-field>
                                        <input id="champrecherche" matInput #rechT placeholder="Rechercher" style="color: #fff;">
                                    </mat-form-field>
                                    <span class="espace"></span>
                                    <button class="btn" mat-raised-button (click)="ouvreRecherche(rechT.value)">Recherche</button>
                                </div>
                            </li>
                            
                            <span class="espace"></span>
    
                            <div style="position: relative;">
                                <li>
                                    <button class="btn btn-default dropdown-toggle" type="button" id="menuProfil"
                                        data-toggle="dropdown" style="float: right;">
                                        <a href="" style="color: rgb(255, 255, 255);">
                                            <mat-icon>account_circle</mat-icon>
                                        </a>
                                    </button>
                                    
                                    <span class="caret"></span>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menuProfil">
                                        <li role="presentation">
                                            <a routerLink="/espaceperso/modifprofil" role="menuitem" tabindex="-1" class="btn" href="#">Modifier son profil</a>
                                        </li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" class="btn" href="#">Mes
                                                messages</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" class="btn" (click)="deconnexion()">Se
                                                déconnecter</a></li>
                                        <li role="presentation" class="divider"></li>
        
                                    </ul>
    
                                    
                                    
                                    <span class="espace"></span>
                                    
                                    <a href="" style="float: right; margin-top: 9px;color: rgb(255, 255, 255);">
                                        <mat-icon>mail</mat-icon>
                                    </a>
                                        
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                </li>
                                
                            </div>
                        </ul>
       
                </li>
                </ul>


            </div>
            
        </nav>
    </div>
    
    
    
    