.btn-primary-outline {
    background-color: transparent;
    border: 0;
  }

  .button1 {
    position: absolute;
    top: 50%;
}

.pad1 {
    padding: 0 50% 0 0;
}

.example-icon {
    padding: 0 10%;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }