.btn-primary-outline {
    background-color: transparent;
    border: 0;
  }

  .button1 {
    position: absolute;
    top: 50%;
}


.pad1 {
    margin-left: 10%;
    margin-right: 10%;
}

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .button1 {
    position: absolute;
    top: 50%;
}

.example-icon {
    padding: 0 10%;
  }

.colortext {
  color: #fff;
}