<p>recherchelistepotagers works!!!</p>


<div class="container">
    <div class="row">
            <div class="col-sm-7">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Mail</th>
                            <th>Âge</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <!-- C'est dans le tr que je mets la boucle car c'est lui que je veux faire générer plusieurs fois. -->
                        <tr>
                            <td>caca</td>
                            <td>czcz</td>
                            <td>cece</td>
                            <td>crcr</td>
                            <td>ctct</td>
                            <td><button class="btn btn-primary" mat-mini-fab aria-label="Example icon-button with a heart icon">
                                <mat-icon>delete</mat-icon>
                            </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>