
<br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
        </div>

        <div class="col-sm-8">
            <table class="table">
                <col width="150">
                <col width="200">
                <col width="130">
                <col width="100">
                <col width="200">
                <col width="100">
                <thead class="thead-dark text-center">
                    <tr>
                        <th>Nom</th>
                        <th>Lieu</th>
                        <th>Surface</th>
                        <th>Utilisateurs</th>
                        <th>Horaires</th>
                        <th>Détails</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- C'est dans le tr que je mets la boucle car c'est lui que je veux faire générer plusieurs fois. -->
                    <tr *ngFor="let u of data">
                        <td>{{ u.nom }}</td>
                        <td>{{ u.adresse }}, {{ u.ville }}</td>
                        <td>{{ u.surface }} m²</td>
                        <td> countUsers({{ u.userOfTerrain }}) / {{ u.maxUser }}</td>
                        <td>{{ u.horaires }}</td>
                        <td><button class="btn btn-primary" (click)="ouvreDetailsPotager()">Détails</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-2">
            <td><button class="btn btn-primary" (click)="ouvreDetailsPotager()">Détails</button></td>
            <!--Il faut envoyer un id ou comme ça -->

            <td><button class="btn btn-primary" (click)="ouvreConnexion()">Connexion</button></td>
            
        </div>
    </div>
</div>