<app-navbar-perso></app-navbar-perso>

<br><br>

<div class="container" style="background-image: url('https://wallpapertag.com/wallpaper/full/f/0/c/658141-amazing-white-roses-background-2560x1440.jpg');" >
    <br>
    <div class="text-center">
        <h3>Modifier son profil</h3>
        <br>
        <form #formModifProfil="ngForm" style="width: 50%; margin: auto;">

            <div class="form-group">
                <input type="text" class="form-control text-center" placeholder="Nom" #nomActionCo="ngModel" required
                    name="lea" [(ngModel)]="personneModif.nom">
            </div>
            <br>
            <div class="form-group">
                <input type="text" class="form-control text-center" placeholder="Prénom" required
                    name="leb" [(ngModel)]="personneModif.prenom" id="leb">
            </div>
            <br>    
            <div class="form-group">
                <input type="mail" class="form-control text-center" placeholder="Mail" required
                    name="lec" [(ngModel)]="personneModif.mail" id="lec">
            </div>
            <br>
            <div class="form-group">
                <input type="password" class="form-control text-center" placeholder="Mot de passe" required
                    name="led" [(ngModel)]="personneModif.pw" id="led">
            </div>
            <br>
            <div class="form-group">
                <input type="number" class="form-control text-center" placeholder="Numéro de téléphone" required
                    name="lee" [(ngModel)]="personneModif.tel" id="lee">
            </div>
            <br>
            <div class="form-group">
                <input type="number" class="form-control text-center" placeholder="Âge" required
                    name="lef" [(ngModel)]="personneModif.age" id="lef">
            </div>

            <br><br>

            <button [disabled]="!formModifProfil.form.valid" (click)="saveModifProfil()" class="btn btn-primary btn-block">Enregistrer modifications</button>
            <br>
        </form>
        <button class="btn btn-primary text-center" routerLink="/espaceperso" >Revenir</button>
    </div>
</div>