<app-navbar-perso></app-navbar-perso>

<br><br>

<div class="container" style="background-image: url('https://wallpapertag.com/wallpaper/full/f/0/c/658141-amazing-white-roses-background-2560x1440.jpg');" >
    <br>
    <div class="text-center">
        <h3 class="titre2">Modifier son profil</h3>
        <br>
        <form #formModifProfil="ngForm" style="width: 50%; margin: auto;">

            <div class="form-group">
                <p>Nom :</p>
                <p>{{userConnecte.nom}}</p>
            </div>
            <br>
            <div class="form-group">
                <p>Prénom :</p>
                <p>{{userConnecte.prenom}}</p>
            </div>
            <br>    
            <div class="form-group">
                <p>Adresse e-mail :</p>
                <p>{{userConnecte.mail}}</p>
            </div>
            <br>
            <div class="form-group">
                <input type="password" class="form-control text-center" placeholder="Nouveau Mot de passe" 
                    name="new_pw" [(ngModel)]="userModif.pw">
            </div>
            <br>
            <div class="form-group">
                <input type="password" class="form-control text-center" placeholder="Confirmez le nouveau Mot de passe" 
                    name="new_pw2" #pw2>
            </div>
            <br>
            <div class="form-group">
                <p>Téléphone :</p>
                <input type="text" class="form-control text-center" placeholder="Numéro de téléphone" 
                    name="new_tel" [(ngModel)]="userModif.tel">
            </div>
            <br>
            <div class="form-group">
                <p>Âge :</p>
                <input type="number" class="form-control text-center" placeholder="Âge" 
                    name="new_age" [(ngModel)]="userModif.age">
            </div>

            <br><br>

            <button [disabled]="!formModifProfil.form.valid" (click)="saveModifProfil((pw2.value))" class="btn btn-primary btn-block">Enregistrer modifications</button>
            <br>
        </form>
        <button class="btn btn-primary text-center" routerLink="/espaceperso" >Revenir</button>
    </div>
    <br><br>
</div> 