<app-navbar-perso></app-navbar-perso>

<br><br>

<div class="container" style="background-image: url('https://wallpapertag.com/wallpaper/full/f/0/c/658141-amazing-white-roses-background-2560x1440.jpg');" >
    <br>
    <div class="text-center">
        <h3>Modifier son profil</h3>
        <br>
        <form #formModifProfil="ngForm" style="width: 50%; margin: auto;">

            <div class="form-group">
                <p>Nom :</p>
                <p>{{userConnecte.nom}}</p>
            </div>
            <br>
            <div class="form-group">
                <p>Prénom :</p>
                <p>{{userConnecte.prenom}}</p>
            </div>
            <br>    
            <div class="form-group">
                <p>Adresse e-mail :</p>
                <p>{{userConnecte.mail}}</p>
            </div>
            <br>
            <div class="form-group">
                <input type="password" class="form-control text-center" placeholder="Nouveau Mot de passe" required
                    name="led" id="led">
            </div>
            <br>
            <div class="form-group">
                <input type="password" class="form-control text-center" placeholder="Confirmez le nouveau Mot de passe" required
                    name="ledd" id="ledd">
            </div>
            <br>
            <div class="form-group">
                <p>Téléphone :</p>
                <input type="text" class="form-control text-center" placeholder="Numéro de téléphone" required
                    name="lee" [(ngModel)]="userConnecte.tel" id="lee">
            </div>
            <br>
            <div class="form-group">
                <p>Âge :</p>
                <input type="number" class="form-control text-center" placeholder="Âge" required
                    name="lef" [(ngModel)]="userConnecte.age" id="lef">
            </div>

            <br><br>

            <button [disabled]="!formModifProfil.form.valid" (click)="saveModifProfil()" class="btn btn-primary btn-block">Enregistrer modifications</button>
            <br>
        </form>
        <button class="btn btn-primary text-center" routerLink="/espaceperso" >Revenir</button>
    </div>
</div>