.tab{
    margin-left: 130px;
}
.inline{
    display: inline;
    list-style: none;

    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.bleusouli{
    text-decoration: underline;
    color: blue;
}
.bigtitle{
    font-weight: bold;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.bluetitle{
    font-weight: bold;
    font-size: 20px;
    color: dodgerblue;
    
}
.bordure
{
    border: 3px rgb(0, 162, 255) solid;
}
.tableautitre
{
    background: rgb(172, 232, 255);
    border: 1px black solid;
    
}
img{
    border: 1px black solid;
    box-shadow: 1px 1px 12px #555;
}