body{
    background-image: url("https://wallpapertag.com/wallpaper/full/6/2/9/379056-free-spongebob-background-1920x1080.jpg");
}
.titre{
    color: darkgray;
    letter-spacing: 3px;
}
.gtitre{
    font-size: 38px;
    font-family: Roboto;
}
.pgreen{
    font-family: Roboto;
    color: rgb(48, 167, 147);
    font-size: 120%;
}
.pred{
    font-family: Roboto;
    color: crimson;
}