
body{
    background-color: yellow;
}
h1{
    text-align: center;
    color: blue;
}
.maj{
    text-transform: uppercase;
    letter-spacing: 10px;
}

.perso{
    text-align: center;
    text-shadow: 5px 5px 5px darkgreen;
    letter-spacing: 3px;
}

#lim{
    color: blueviolet;
}