
.couleurfond {
    background-color: rgb(212, 255, 248);
}

.titre {
    color : #27ac39;
    font : 250% georgia, palatino, serif;
    font-weight: bold;
}

.titre2 {
    color : #27ac39;
    font : 200% georgia, palatino, serif;
    font-weight: bold;
}