

<div class="container containerbackground">
    <div class="row">
        <div class="col-sm-7">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Mail</th>
                        <th>Âge</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- C'est dans le tr que je mets la boucle car c'est lui que je veux faire générer plusieurs fois. -->
                    <tr *ngFor="let u of data">
                        <td class="colorGray">{{ u.id }}</td>
                        <td class="pAffs">{{ u.nom }}</td>
                        <td class="colorSB">{{ u.prenom }}</td>
                        <td class="fColor">{{ u.mail }}</td>
                        <td class="fColorV">{{ u.age }}</td>
                        <td><button class="btn btn-primary" (click)="modifPersonne(u)" mat-mini-fab aria-label="Example icon-button with a heart icon">
                            <mat-icon>create</mat-icon>
                        </button></td>
                        <td><button class="btn btn-primary" (click)="deletePersonne(u)" mat-mini-fab aria-label="Example icon-button with a heart icon">
                            <mat-icon>delete</mat-icon>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <!-- Quand 'visible' est true, c'est visible, sinon c'est caché. -->
        <div class="col-sm-5" *ngIf="visible">
            <br>
            <h5 class="text-center colorSB">Modifier un client</h5>

            <form #forme="ngForm">
                <div class="form-group">
                    <input type="text" class="form-control text-center" placeholder="Nom" #nomAction="ngModel" required
                            name="nom" [(ngModel)]="lapersonne.nom" >
                </div>
                <div class="form-group">
                    <input type="text" class="form-control text-center" placeholder="Prénom"
                            name="prenom" [(ngModel)]="lapersonne.prenom">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control text-center" placeholder="Mail"
                            name="mail" [(ngModel)]="lapersonne.mail">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control text-center" placeholder="Âge"
                            name="age" [(ngModel)]="lapersonne.age">
                </div>
                <button (click)="addPersonne()" [disabled]="!forme.form.valid" class="btn btn-primary btn-block">Modifier personne</button>
            </form>
        </div>

    </div>
</div>