.button1 {
    position: absolute;
    top: 50%;
}

.pad1 {
    padding: 0 10% 0 0;
}

.example-icon {
    padding: 0 10%;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }

  .mat-toolbar.mat-primary {
    background: #42c253;
    color: #fff;
  }

  .espace {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }