<mat-toolbar class="mat-primary">
    <mat-toolbar-row>
        <h1 class="pad1">Mon Petit Potager</h1>
        <div class="container" style="position: relative; margin: auto; width: 100%;">
                <span class="espace"></span>
                <div >
                    <a class="nav-link" mat-button style="margin-left: 100%;" (click)="ouvreConnexion()"> Connexion </a>
                    <a class="nav-link" mat-button (click)="ouvreInscription()"> Inscription </a>

                    
                </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>